body {
    overflow-x: hidden;
    cursor:none;
}

.cursor {
    position: fixed;
    width: 0;
    height: 0;
    border-bottom: 20px solid aqua;
    border-left: 10px solid transparent;
    z-index: 1001;
    transform: skewX(-10deg) translate(-50%, -50%);
    pointer-events: none;
}

.cursor::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -40px;
    right: -6px;
    border-top: 20px solid aqua;
    border-right: 10px solid transparent;
}

.initial-container {
    background-color: #eff0f1;
    height: 75vh;
    width: 100vw;
    position: relative;
    text-align: center;
}

.image {
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cloud {
    position: absolute;
    top:20%;
    left:10%;
    width: 25vw;
    height: 8vw;
    background-color: grey;
    box-shadow: rgb(151, 151, 151) 5px 5px 5px;
    border-radius: 10vw;
    opacity: 70%;
}

.cloud::before {
    content: '';
    position: absolute;
    top: -5vw;
    left: 3vw;
    width: 10vw;
    height: 10vw;
    background-color: grey;
    border-radius: 50%;
    box-shadow: 7vw 0 0 1vw grey;
    
}

.rain {
    position: relative;
    display: flex;
    padding: 0 4vw;
    opacity: 40%;
}

.rain span {
    position: relative;
    width: 1em;
    height: 1em;
    top: 8vw;
    background-color: #5AC8FA;
    margin: 0 0.2vw;
    border-radius: 50%;
    animation: rainingDown 2s linear infinite;
    animation-duration: calc(11s / attr(offset));
    transform-origin: bottom;
}

@keyframes rainingDown {
    0% {transform: translateY(0vh) scale(1);}
    70% {transform: translateY(60vh) scale(0.8);}
    100% {transform: translateY(60vh) scale(0);}
}

.initial-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: clamp(1rem, 6vw, 6rem); 
    font-weight: 600;
    z-index: 100;
}

.initial-subtext {
    position: absolute;
    top: 63%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: clamp(0.5rem, 2.5vw, 4rem);
    font-weight: 250;
    z-index: 100;
}

.section-container {
    background-color: rgb(241, 241, 241);
    width: 100vw;
    height: 100vh;
}

.divider {
    background-color: rgb(241, 241, 241);
    width:100vw;
    height: 10vh;
}

.menu-image {
    width: 100%;
    height: 100%;
}

.navbar {
    background-color: rgb(255, 255, 255);
    position: fixed;
    height: 6vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}

.navbar-logo {
    width:10vh;
    height:10vh;
    position: absolute;
    left: 1%;
    top: -20%;
}

.navbar-text-1 {
    color: #333;
    position: absolute;
    left:10%;
    top: 40%;
    font-size: clamp(0.5rem, 2vw, 2rem);
    font-weight: 700;
}

.navbar-text-linking {
    color: #333;
    float:right;
    top: 40%;
    margin: 1vw;
    margin-top: 0;
    position: relative;
    font-size: clamp(0.5rem, 2vw, 2rem);
    font-weight: 700;
    text-decoration: none;
}

.navbar-text-linking:hover {
    color: rgb(112, 182, 247);
    cursor: none;
}

.section-text {
    color: #333;
    font-size: clamp(1vw,3.5vw ,80px);
    font-weight: 700;
    position: relative;
    margin-bottom: 2vh;
}

.skills-text {
    color: #333;
    font-size: clamp(1vw,3vw ,3rem);
    font-weight: 700;
    position: relative;
    margin-bottom: 1vh;
    left: -10%;
}

.standard-text {
    color: #333;
    font-size: clamp(1vw,1.5vw ,1.5vw);
    font-weight: 500;
}

.textbox {
    position: relative;
    top:-4%;
    width: 60vw;
    height: 40vw;
    max-width: 70em;
    max-height: 50em;
    margin: 1rem;
}

.textbox-title {
    position: absolute;
    top:25%;
    left: 22%;
    transform: translate(-50%, -50%);
    color:#333;
    font-size: clamp(0.5vw,3vw, 3rem);
    font-weight: 700;
    white-space: pre-line;
    text-align: left; 
}

.textbox-text {
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    color:#333;
    font-size: clamp(0.5vw, 1.6vw, 1.6rem);
    font-weight: 400;
    white-space: pre-line;
    text-align: left; 
}

.skills-container {
    position: absolute;
    left: 65%;
    top: 97%;
    width: 35vw;
    height: 40vw;
}

.skills {
    position: relative;
    width: 48%;
    height: 15%;
    color: #333;
    font-size: clamp(0.5vw, 2vw, 2rem);
    padding: 0.2rem;
    display: inline-block;
    text-align: left;
}

.skills-logo {
    position: relative;
    height: 50%;
    width: height;
    top: 12%;
}

.project-container {
    display: inline-block;
    position: relative;
    width: 90%;
    height: 35%;
    border-radius: 0%;
    margin: 1vw;
}

.project-title {
    text-align: left;
    position: relative;
    top: 3%;
    color: #333;
    font-weight: 700;
    font-size: clamp(0.5em,2vw,1.7vw);
}

.project-text {
    position: relative;
    top: 5%;
    width: 55%;
    color: #333;
    font-weight: 500;
    font-size: clamp(0.5vw, 1.2vw, 20px);
    text-align: left;
}

.project-image {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0%;
    right: 5%;
    width: 35vw;
    max-width: 350px;
    max-height: 100%;
}

.project-image-links {
    position: absolute;
}

.project-linking {
    text-decoration: none;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: clamp(0.5em,1.7vw,2vw);
}

.project-linking:hover {
    color:#5AC8FA;
    cursor: none;
}

.project-logo {
    position: relative;
    height: 4vw;
    width: height;
    left: -25%;
    top: 10%;
    margin: 5px;
    display: inline-block;
}

.project-logo:hover .project-logo-text {
    opacity: 1;
}

.project-logo-text {
    color: #333;
    font-weight: 500;
    opacity: 0;
}

.contact-text {
    width: 50%;
    transform: translate(50%);
    margin-top: 20px;
    color: #333;
    font-weight: 500;
    font-size: clamp(0.5em,2.2vw,2.2em);
}


.social-container {
    position: relative;;
    display: inline-block;
    width: 50%;
    height: 3%;
    margin-top: 5px;
    top: 15%;
}

.social-button {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 15%;
    color:white;
    font: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 8px 10px; 
    background-color: #333;
    border-radius: 16px;
    font-weight: 500;
}

.social-button:hover {
    background-color: #eff0f1;
    border: 2px solid #333;
    cursor: none;
}

.social-button-text {
    color:white;
    background: 0 0;
    font: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 8px 10px; 
    font-weight: 500;
}

.social-button-text:hover {
    color: #333;
    cursor: none;
}

